&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a routerLinkActive="active current" routerLink="/add-product">
  <button align = 'center' style="background-color: yellow;color:red; width:100px; height:40px;">
     Add Product
  </button>
</a>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a routerLinkActive="active current" routerLink="/products-info">
  <button align = 'center' style="background-color: yellow;color:red; width:150px; height:40px;">
     Products Information
  </button>
</a>

  <br/><br/><br/>

<router-outlet></router-outlet>