  
<form id="productform">

    <label><b>&nbsp; Product Name: &nbsp;</b></label>
    <input type="text" name="productName" />
    <br/><br/>
  
    <label><b>&nbsp; Product Code: &nbsp;</b></label>
    <input type="text" name="productCode" />
    <br/><br/>
  
    <label><b>&nbsp; Branch Name: &nbsp;</b></label>
    <input type="text" name="branchName" />
    <br/><br/>
  
    <label><b>&nbsp; Branch Code: &nbsp;</b></label>
    <input type="text" name="branchCode" />
    <br/><br/>
  
    <label><b>&nbsp; Shipping Address: &nbsp;</b></label>
    <input type="text" name="shippingAddress" />
    <br/><br/>
  
    <button type="submit" (click)="createPost()">&nbsp; Submit</button>
  
  </form>